:root {
    --highlight: #f8ebda80;
}

#faq {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 2rem;
    height: 100%;
}

#faq-header {
    text-align: center;
    color: black;
    font-weight: bold;
    padding-top: 2.3rem;
}

#faq .question {
    width: 80%;
    background-color: var(--highlight);
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 4px;
    padding: 1.5rem;
}

#faq .question-head {
    display: flex;
    align-items: center;
}

#faq .question h2 {
    padding-inline-end: 10px;
}

#faq .question p {
    display: none;
    padding-top: 0.3rem;
    font-size: large;
    font-style: italic;
}

#faq .question.open p {
    display: block;
}

.down-button {
    display: inline-block;
}

#faq .dropdown-button:hover {
    cursor: pointer;
}

#faq .dropdown-button {
    background: none;
    border: none;
}

.down-button {
    font-size: 18px;
}