* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body > footer {
    background-color: gray;
    color: whitesmoke;
    padding: 1rem;
    margin-top: 0.5rem;
}