@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

:root {
    --color-header: #b8dbe4;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body > header {
    background-color: var(--color-header);
    padding: 1rem 0 0 1rem;
    display: grid;
    grid-template-columns: 150px 1fr;
    grid-template-rows: auto 1fr;
}

body > header > h1 {
    grid-row: 1 / span 2;
    grid-column: 2;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: left;
    margin-bottom: 1rem;
}

body > header > h1 > a {
    color: black;
    font-weight: bold;
}

#logo {
    grid-row: 1;
    grid-column: 1;
    display: block;
    text-align: left;
    padding-right: 1rem;
    margin-bottom: 1rem;
}

#signup {
    grid-row: 1;
    grid-column: 3;
    padding-right: 0.8rem;
    margin-top: 2.7rem;
    display: block;
    align-self: auto;
    font-size: large;
    font-weight: 500;
    /*font-family: Roboto, sans-serif;*/
}

#signup > * {
    border-right: 1px solid white;
    padding-inline: 0.75rem;
}

#signup > a {
    color: white;
    padding: 0 1rem 0 1rem;
    text-transform: uppercase;
}

#signup > a:hover {
    color: #2a2f33;
}

#signup > :first-child {
    padding-left: 0;
}

#signup > :last-child {
    border: none;
    padding-right: 0;
}

#menu {
    grid-row: 2;
    grid-column: 2 / span 2;
}

#menu > ul {
    text-align: right;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-content: flex-end;
    max-width: 100%;
    margin-left: auto;
    margin-right: 0;
    margin-bottom: 0;
}

#menu > ul > li {
    text-align: center;
    background-color: darkgray;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    padding-top: 0.4rem;
    padding-bottom: 0.2rem;
    flex: 1;
    border-bottom: 0.2rem solid purple;
    transition: 0.3s;
    transition-timing-function: ease-in-out;
}

#menu > ul > li > a {
    color: whitesmoke;
    text-decoration: none;
}

#menu ul li:nth-child(1) {
    border-color: red;
}

#menu ul li:nth-child(1):hover {
    background-color: red;
}

#menu ul li:nth-child(2) {
    border-color: purple;
}

#menu ul li:nth-child(2):hover {
    background-color: purple;
}

#menu ul li:nth-child(3) {
    border-color: gold;
}

#menu ul li:nth-child(3):hover {
    background-color: gold;
}

#menu ul li:nth-child(4) {
    border-color: green;
}

#menu ul li:nth-child(4):hover {
    background-color: green;
}

#menu ul li:nth-child(5) {
    border-color: orange;
}

#menu ul li:nth-child(5):hover {
    background-color: orange;
}