@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

:root {
    --color-header: #e3d1b8;
    --font-title: 'Poppins', Arial, Helvetica, sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

header {
    background-color: #ffffff;
    background-image: url('/assets/header_bg.svg');
    padding: 0.5rem 2rem;
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 1rem;
    font-family: var(--font-title);
    font-weight: bold;
    height: 75px;
    box-shadow: 0px 0px 10px #e6e0d9;
}

body > header > h1 {
    flex-grow: 0.5;
    padding-bottom: 0.5rem;
    color: black;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}


#menu > ul {
    display: flex;
    list-style-type: none;
    gap: 1rem;
}

#menu > ul > li {   
    padding: 1rem 2rem 1rem 2rem;
    font-size: large;
}

#menu > ul > li > a {
    color: #7a7979;
}


#menu a::after , #ticket-button::after{
    content: '';
    display: block;
    width: 0;
    margin-top: 0.1rem;
    height: 0.15rem;
    background: black;
    transition: width .3s;
}


#menu a:hover, .dropdown #ticket-button:hover {
    color: black;
}

#menu a:hover::after , #ticket-button:hover::after{
    width: 100%;
    transition: width .3s;
}


.dropdown {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown #ticket-button{
    color: #7a7979;
    padding: 1rem 2rem 1rem 2rem;
    font-size: large;
    font-weight: bold;
    border: none;
    background: local;
    font-family: var(--font-title);
}

.dropdown #ticket-button:hover{
    cursor: pointer;
}

.dropdown-menu {
    width: 10rem;
    padding: .75rem;
    background-color: rgb(227, 210, 186);
    border-radius: 10px;
    overflow: hidden;
    pointer-events: none;
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 100ms, transform 100ms;
}

.dropdown-menu.expanded {
    pointer-events: auto;
    opacity: 1;
    transform: translateY(0);
    transition: opacity 100ms, transform 100ms;
    z-index: 1;
}

#ticket-menu > ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#ticket-menu > ul > li {
    padding: 0.5rem;
}

.dropdown-menu > ul > li > a {
    color: black;
    text-decoration: none;
}

#ticket-menu {
    position: absolute;
    top: calc(100% + .5rem);
}

#hamburger-button, #hamburger-menu {
    display: none;
}

